.hugo*

# binaries etc
hugo
bin/
*.gz

# Python virtual environment
venv/
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/
pyvenv.cfg

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pyre type checker
.pyre/

# Other files
*.log
*.pot
*.pyc
